<div id="addModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="AddModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Create New Flow</h4>
			</div>
			<div class="modal-body">
				<div class="form-group" style="width:100%;">
					<h5>Incoming Keyword:</h5>
					<input type="text" id="addIncoming" autocapitalize="on"/>
				</div>
				<hr/>
				<div class="form-group" style="width:100%;">
					<h5>Outgoing Message:</h5>
					<textarea type="text" id="addOutgoing"></textarea>
					<label id="addCountLabel"><span id="addCount">0</span>/160</label>
				</div>
				<div class="alert alert-warning">
					<span style="text-align:center;width:100%;display:block;"><strong>{linebreak} {firstname} {lastname} {zipcode} {email} {brid} {card} {points}</strong></span>
				</div>
				<h5>Message Preview:</h5>
				<div class="smartphone">
					<div class="content">
						<div id="addPreviewIncoming"></div>
						<hr/>
						<div id="addMessages">
							<div id="addPreviewOutgoing"></div>
						</div>
					</div>
				</div>
				<hr/>
				<button type="button" id="add_flow" class="btn btn-lg btn-success btn-block" data-dismiss="modal">Add Flow</button>
			</div>
		</div>
	</div>
</div>
