<div id="editModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="EditModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Update Existing Flow</h4>
			</div>
			<div class="modal-body">
				<input type="hidden" id="editID" value=""/>
				<div class="form-group" style="width:100%;">
					<h5>Incoming Keyword:</h5>
					<input type="text" id="editIncoming" autocapitalize="on"/>
				</div>
				<div class="form-group" style="width:100%;">
					<h5>Outgoing Message:</h5>
					<textarea type="text" id="editOutgoing"></textarea>
					<label id="editCountLabel"><span id="editCount">0</span>/160</label>
				</div>
				<div class="alert alert-warning">
					<span style="text-align:center;width:100%;display:block;"><strong>{linebreak} {firstname} {lastname} {zipcode} {email} {brid} {card} {points}</strong></span>
				</div>
				<h5>Message Preview:</h5>
				<div class="smartphone">
					<div class="content">
						<div id="editPreviewIncoming"></div>
						<hr/>
						<div id="editMessages">
							<div id="editPreviewOutgoing"></div>
						</div>
					</div>
				</div>
				<hr/>
				<button type="button" id="edit_flow" class="btn btn-lg btn-success btn-block" data-dismiss="modal">Update Flow</button>
			</div>
		</div>
	</div>
</div>