<div id="previewModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="PreviewModal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
				<h4 class="modal-title">Preview Flow</h4>
			</div>
			<div class="modal-body">
				<h5>Message Preview: <small><label id="previewCountLabel"><span id="previewCount">0</span>/160</label></small></h5>
				<div class="smartphone">
					<div class="content">
						<div id="previewPreviewIncoming"></div>
						<hr/>
						<div id="previewMessages">
							<div id="previewPreviewOutgoing"></div>
						</div>
					</div>
				</div>
				<hr/>
				<button type="button" class="btn btn-lg btn-danger btn-block" data-dismiss="modal">Close Preview</button>
			</div>
		</div>
	</div>
</div>