@font-face {
  font-family: 'WAG-Bold';
  src: url('https://www.walgreens.com/images/adaptive/share/images/fonts/helvetica/HelveticaRoundedLTW01-Bold.woff2') format('woff2')
}
@font-face {
  font-family: 'WAG-Light';
  src: url('https://www.walgreens.com/images/adaptive/share/images/fonts/helvetica/HelveticaNeueLTW01-55Roman.woff2') format('woff2')
}


::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}

body
{
	font-family: -apple-system, BlinkMacSystemFont, Roboto, sans-serif;
}

.navbar
{
	background-color:rgb(72, 156, 212);
	position:fixed;
	width: 100%;
}
.navbar-img
{
	width:100%;
	margin:0px;
	height:50px;
	padding-top:5px;
	display: block;
	position: absolute;
	left:0px;
}
.navbar-img > img
{
	margin:0px Auto;
	height:38px;
	display:block;
}
hr 
{
	display: block;
    clear: both;
    margin: 1em 0px;
    visibility: hidden;
}
.container
{
	top: 60px;
	position: relative !important;
	margin: 0px Auto;
}
#flows
{
	margin: 0px Auto;
}

li.list-group-item
{
	margin:0px Auto;
	text-align: center;
	cursor: pointer;
}
.form-group
{
	width: 33%;
	max-width:600px;
	display:inline-block;
	vertical-align: middle;
}
.default
{
	background-color: #eeeeee !important;
}
textarea
{
	resize:none;
}
input#addIncoming,input#editIncoming
{
	text-transform: capitalize; 	
}
input#editIncoming,input#addIncoming,textarea#editOutgoing,textarea#addOutgoing
{
	width:100%;
	box-sizing:border-box;
	direction:ltr;
	display:block;
	max-width:100%;
	padding:7px 7px 20px;
	line-height:1.5;
	border:none;
	border-bottom:2px solid black;
	font-size:13px;
	font-smoothing:subpixel-antialiased;
	background-color: #fff;
}
#addPreviewIncoming,#editPreviewIncoming,#previewPreviewIncoming
{
	margin: 120px 15px 0px 0px;
	display:inline-block;
	float:right;
	text-align:left;
	padding:6px 10px;
	border-radius:20px;
	border:1px solid rgb(0, 120, 254);
	font-size:12px;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	background-color: rgb(0, 120, 254);
	color:white !important;
}
#addPreviewOutgoing,#editPreviewOutgoing,#previewPreviewOutgoing,#extraMessages_add,#extraMessages_edit,#extraMessages_preview
{
	margin: 0px 0px 0px 15px;
	float:left;
	max-width:80% !important;
	text-align:left;
	display:block;
	padding:9px 15px;
	border-radius:30px;
	border:1px solid #EEE;
	font-size:12px;
	transition:box-shadow 0.5s ease;
	box-shadow:0 4px 6px rgba(0,0,0,0.1);
	background-color: #EEE;
	color:black !important;
	margin-top:10px;
}
#editCountLabel, #addCountLabel
{
	color:#464646;
	float:right;
}
#editCount, #addCount
{
	color:#464646;
}
#editCount.green,#addCount.green
{
	color:#5e8229;
}
#editCount.red,#addCount.red
{
	color:#e01935;
}
#previewCountLabel
{
	color:#464646;
}
#previewCount
{
	color:#464646;
}
##previewCount.green
{
	color:#5e8229;
}
#previewCount.red
{
	color:#e01935;
}

/* The device with borders */
.smartphone {
  position: relative;
  width: 360px;
  height: 640px;
  margin: auto;
  border: 16px black solid;
  border-top-width: 60px;
  border-bottom-width: 60px;
  border-radius: 36px;
}

/* The horizontal line on the top of the device */
.smartphone:before {
  content: '';
  display: block;
  width: 60px;
  height: 5px;
  position: absolute;
  top: -30px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #333;
  border-radius: 10px;
}

.content
{
	background:url("http://wag-sms-flow.herokuapp.com/img/phone_bg.png");
	background-size:100% auto;
}

@media only screen and (max-width: 1000px) 
{
    .form-group
	{
		width: 100%;
	}
}
@media only screen and (max-width: 800px) {
    /* For mobile phones: */
    body
    {
	    width:100% !important;
    }
    .form-group
	{
		width: 100%;
	}
}

