<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	<% include ../partials/nav.ejs %>
	<% include ../partials/addModal.ejs %>
	<% include ../partials/editModal.ejs %>
	<% include ../partials/previewModal.ejs %>
	<div class="container">
		<div class="well text-center">
			<% if (flows && flows.length > 0) { %>
				<h1>Total Flows: <%= flows.length %></h1>
			<% } else { %>
				<h1>No flows found!</h1>
			<% } %>
			<a href="#addFlow" id="open_add_flow" class="btn btn-sm btn-primary">Add Flow</a><br/><br/>
		</div>
		<hr/>
		<div class="text-center">
			<h1><span class="glyphicon glyphicon-phone-alt"></span>: 224-801-3111</h1>
		</div>
		<hr/>
		<ul id="flows" class="list-group">
			<% if (flows && flows.length > 0) { %>
				<% flows.forEach(function(flow) { %>
					<% if(flow.incoming == "DEFAULT") { %>		
						<li class="list-group-item default">
					<% } else { %>
						<li class="list-group-item">
					<% } %>	
						<div class="form-group">
							<h3 for="incoming">Incoming Keyword:</h3>
							<h4 class="incoming">"<%= flow.incoming %>"</h4>
						</div>
						<div class="form-group"> 
							<h3 for="outgoing">Outgoing Message:</h3>
							<h4 class="outgoing">"<%= flow.outgoing %>"</h4>
						</div>
						<div class="form-group">
							<a href="#preview" flowID="<%= flow._id %>" incoming="<%= flow.incoming %>" outgoing="<%= flow.outgoing %>" class="btn btn-success open_preview_flow">Preview</a>
							<a href="#test" flowID="<%= flow._id %>" incoming="<%= flow.incoming %>" outgoing="<%= flow.outgoing %>" class="btn btn-warning test_flow">Test</a>
							<a href="#edit" flowID="<%= flow._id %>" incoming="<%= flow.incoming %>" outgoing="<%= flow.outgoing %>" class="btn btn-primary open_edit_flow">Edit</a>
							<% if(flow.incoming != "DEFAULT") { %>
								<a href="#delete" flowID="<%= flow._id %>" class="btn btn-danger delete_flow">Delete</a>
							<% } %>
						</div>
					</li>
				<% }); %>
			<% } %>
		</ul>
	</div>
	<script type="text/javascript">
		var app = {};
		app.flowsLength = <%- flows.length %>
		app.AddFlow = function(incoming,outgoing,callback)
		{
			$.ajax({
				type: "POST",
				url: "/addFlow",
				data: {incoming:incoming.toUpperCase(),outgoing:outgoing},
				success: callback,
				dataType: "JSON"
			});
		};
		app.EditFlow = function(id,incoming,outgoing,callback)
		{
			$.ajax({
				type: "POST",
				url: "/editFlow",
				data: {id:id,incoming:incoming.toUpperCase(),outgoing:outgoing},
				success: callback,
				dataType: "JSON"
			});
		};
		app.DeleteFlow = function(id,callback)
		{
			$.ajax({
				type: "POST",
				url: "/deleteFlow",
				data: {id:id},
				success: callback,
				dataType: "JSON"
			});
		};
		app.TestFlow = function(phoneNumber,message,callback)
		{
			$.ajax({
				type: "POST",
				url: "/send",
				data: {phoneNumber:phoneNumber,message:message},
				success: callback,
				dataType: "JSON"
			});
		};
		
		$(document)
		.ready(function()
		{
			var defaultFlow = $(".default");
			$(".default").remove();
			$("#flows").prepend(defaultFlow);
			
			$("#add_flow").on('click',function()
			{
				if($("#addIncoming").val().toUpperCase() == "DEFAULT") 
				{
					alert("That is a protected keyword, sorry!");
					return false;
				}
				else
				{

					app.AddFlow($("#addIncoming").val(),$("#addOutgoing").val(),function(data)
					{
						console.log(data);
						if(data.status == "success")
						{
							alert("Success! Added Flow to the configuration.")
							window.location.reload(true);
						}
						else
							alert("Error! Something went wrong adding the Flow");
					});
				}
			});
			
			$("#edit_flow").on('click',function()
			{
				app.EditFlow($("#editID").val(),$("#editIncoming").val(),$("#editOutgoing").val(),function(data)
				{
					console.log(data);
					if(data.status == "success")
					{
						alert("Success! Edited Flow and saved to the configuration.")
						window.location.reload(true);
					}
					else
						alert("Error! Something went wrong editing the Flow");
				});
			});
			
			$(".delete_flow").on('click',function()
			{
				console.log($(this).attr("flowID"));
				app.DeleteFlow($(this).attr("flowID"),function(data)
				{
					console.log(data);
					if(data.status == "success")
					{
						alert("Success! Deleted Flow from the configuration.")
						window.location.reload(true);
					}
					else
						alert("Error! Something went wrong deleting the Flow");
				});
			});	
		})
		.on('click',"#open_add_flow",function()
		{
			autosize($("#addOutgoing"));
			$("#addModal").modal({keyboard: true,show:true});
			updateCount("","add");
			autosize.update($("textarea"));
		})
		.on('click',".open_edit_flow",function()
		{
			autosize($("#editOutgoing"));
			$("#editID").val($(this).attr("flowID"));
			$("#editIncoming").val($(this).attr("incoming"));
			$("#editOutgoing").val($(this).attr("outgoing"));
			$("#editPreviewIncoming").html($(this).attr("incoming"));
			
			var text = replacements($(this).attr("outgoing"));
			$("#editPreviewOutgoing").html(text);
			updateCount(text,"edit");
			
			$("#editModal").modal({keyboard: true,show:true});
			autosize.update($("textarea"));
		})
		.on('click',".open_preview_flow",function()
		{
			$("#previewPreviewIncoming").html($(this).attr("incoming"));
			var text = replacements($(this).attr("outgoing"));
			$("#previewPreviewOutgoing").html(text);
			updateCount(text,"preview");
			$("#previewModal").modal({keyboard: true,show:true});
		})
		.on('click',".test_flow",function()
		{
			var phoneNumber = (function ask() 
			{
				var n = prompt('Enter phone number to message: \n(format: ##########)');
				return (n.match(/^(?:(?:\+?1\s*(?:[.-]\s*)?)?(?:\(\s*([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9])\s*\)|([2-9]1[02-9]|[2-9][02-8]1|[2-9][02-8][02-9]))\s*(?:[.-]\s*)?)?([2-9]1[02-9]|[2-9][02-9]1|[2-9][02-9]{2})\s*(?:[.-]\s*)?([0-9]{4})(?:\s*(?:#|x\.?|ext\.?|extension)\s*(\d+))?$/gm)) ? n : ask();
			}());
			
			app.TestFlow(phoneNumber,$(this).attr("outgoing"),function(data)
			{
				console.log(data);
				if(data.status == "success")
				{
					alert("Success! Sent the flow to "+data.to+" from "+data.from+".");
				}
				else if(data.status == "warning")
				{
					alert("Warning! Sent the flow to "+data.to+" from "+data.from+", however, they are a multi-match so some fields might be *** encrypted.");
				}
				else
					alert("Error! Something went wrong with sending that message.\n"+data.message);
			});
		})
		.on('keyup',"#addOutgoing",function(e)
		{
			var text = replacements($("#addOutgoing").val());
			$("#addPreviewOutgoing").html(text);
			updateCount(text,"add");
			autosize.update($("textarea"));
		})
		.on('keyup',"#editOutgoing",function(e)
		{
			console.log()
			var text = replacements($("#editOutgoing").val());
			$("#editPreviewOutgoing").html(text);
			updateCount(text,"edit");
			autosize.update($("textarea"));
		})
		.on('keyup',"#addIncoming",function(e)
		{
			$(this).val($(this).val().toUpperCase());
			$("#addPreviewIncoming").html($("#addIncoming").val());
		})
		.on('keyup',"#editIncoming",function(e)
		{
			$(this).val($(this).val().toUpperCase());
			$("#editPreviewIncoming").html($("#editIncoming").val());
		});
		function updateCount(text,type)
		{
			var el = (type == "add") ? $("#addCount") : (type == "edit") ? $("#editCount"): $("#previewCount");
			var el2 = (type == "add") ? $("#addPreviewOutgoing") : (type == "edit") ? $("#editPreviewOutgoing") : $("#previewPreviewOutgoing");
			var el3 = (type == "add") ? "#addMessages" : (type == "edit") ? "#editMessages" : "#previewMessages";
			var textForCount = replaceAll(text,"<br/>","\n");
			if(textForCount.length > 160)
				el.html(textForCount.length).removeClass().addClass("red");
			else if(textForCount.length == 160)
				el.html(textForCount.length).removeClass().addClass("green");
			else
				el.html(textForCount.length).removeClass();
				
			if(textForCount.length > 160)
			{
				var sub = text.substring(0, 160);
				var first = sub.substring(0,sub.lastIndexOf(' '));
				var last = text.substring(first.length);
				$("#extraMessages_"+type).remove();
				el2.html(first);
				$("<div>").attr({"id":"extraMessages_"+type}).html(last).appendTo(el3);
			}
			else
			{
				$("#extraMessages_"+type).remove();
				el2.html(text);
			}
		}
		function replaceAll(target,search,replacement)
		{
		    return target.split(search).join(replacement);
		};
		function replacements(text)
		{
			//{linebreak} {firstname} {lastname} {zipcode} {email} {brid} {card} {points}
			text = replaceAll(text,"{linebreak}","<br/>");
			text = replaceAll(text,"{firstname}","Christopher");
			text = replaceAll(text,"{lastname}","S***********");
			text = replaceAll(text,"{zipcode}","60603");
			text = replaceAll(text,"{email}","Chris*****@walgreens.com");
			text = replaceAll(text,"{brid}","2012***********");
			text = replaceAll(text,"{card}","71201*********");
			text = replaceAll(text,"{points}","67700");
			return text;
		}
	</script>
</body>
</html>
