<!DOCTYPE html>
<html>
<head>
	<% include ../partials/header.ejs %>
</head>
<body>
	
	<% include ../partials/nav.ejs %>
	<div class="container">
		<ul id="logs" class="list-group">
			<% if (logs && logs.length > 0) { %>
				<% logs.forEach(function(log) { %>
					<li class="list-group-item" data-time=<%= log.time %>>
						<div class="form-group">
							<h3 for="_id">_id:</h3>
							<h4 class="_id"><%= log['_id'] %></h4>
						</div>
						<div class="form-group"> 
							<h3 for="status">status:</h3>
							<h4 class="status"><%= log.status %></h4>
						</div>
						<div class="form-group"> 
							<h3 for="intent">intent:</h3>
							<h4 class="intent"><%= log.intent %></h4>
						</div>
						<div class="form-group"> 
							<h3 for="time">time:</h3>
							<h4 class="time"><%= log.time %></h4>
						</div>
						<div class="form-group"> 
							<h3 for="data">data:</h3>
							<pre><code class="data"><%- JSON.stringify(log.data) %></code></pre>
						</div>
					</li>
				<% }); %>
			<% } %>
		</ul>
	</div>
	<script type="text/javascript">
		var app = {};
		app.logsLength = <%- logs.length %>
		app.logs = [];
		app.fixTime = function(time)
		{
			var d = new Date(time);
			dformat = [ (d.getMonth()+1).padLeft(),
                    d.getDate().padLeft(),
                    d.getFullYear()].join('/')+
                    ' ' +
                  [ (d.getHours() < 12) ? d.getHours().padLeft() : (d.getHours()-12).padLeft(),
                    d.getMinutes().padLeft()].join(':');
            return dformat+((d.getHours() < 12) ? " am" : " pm");
		};
		
		Number.prototype.padLeft = function(base,chr)
		{
		   var  len = (String(base || 10).length - String(this).length)+1;
		   return len > 0? new Array(len).join(chr || '0')+this : this;
		}
		
		
		$(".list-group li").sort(sort_li).appendTo('.list-group');
		function sort_li(a, b)
		{
		    return $(b).data('time') - $(a).data('time');    
		}
		
		$(".time").each(function(index,el)
		{
			$(el).text(app.fixTime(parseInt($(el).text())));
		});
	</script>
</body>
</html>
